---
import type { CollectionEntry } from "astro:content";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"resumes">["data"];

const { title, description, language } = Astro.props;
---

<html lang={language}>
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="markdown-body">
    <main>
      <Header language={language} />
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
