---
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
  language: CollectionEntry<"resumes">["data"]["language"];
}

const resumes = await getCollection("resumes");

const { language } = Astro.props;

const printButtonLabel = (
  {
    "pt-br": "Imprimir",
    en: "Print",
  } satisfies Record<typeof language, string>
)[language];
---

<script>
  import confetti from "canvas-confetti";

  const printPage = () => {
    window.print();
    confetti({
      particleCount: 100,
      spread: 160,
    });
  };

  const [button] = document.querySelectorAll("[data-print-button]");

  button?.addEventListener("click", printPage);
</script>

<header class="header no-print">
  <div class="languages">
    {
      resumes.map((resume) => (
        <a href={`/${resume.slug}`}>{resume.data.languageLabel}</a>
      ))
    }
  </div>
  <button data-print-button>{printButtonLabel}</button>
</header>

<style>
  .header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
  .languages {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
</style>
